= form_with model: @note, local: true do |form|

  .form-group.d-flex.justify-content-end
    %span.mr-3= form.label :priority
    = form.select :priority, Note.priorities.keys, class: 'form-control'

  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'

  .form-group
    = form.label :content
    = form.text_area :content, class: 'form-control', rows: '10'


  .form-group{style: 'text-align: right'}
    = form.submit class: 'btn btn-info'