%main
  = render 'listnotes'

  %article.wrapper-content
    .show-content
      .header-show
        .header-show-title
          %h2.mb-0 #{ @note.title }
          %div.text-muted created on #{ @note.published.strftime('%d/%m/%Y') }
          .select-priority.d-flex.align-items-center
            %small.mr-2 prioridade: 
            %select{class: "#{@note.badge_color(@note.priority)}"}
              - if @note.priority === 'low'
                %option{value: 'low', selected: true} baixa
                %option media
                %option alta
              - elsif @note.priority === 'media'
                %option baixa
                %option{value: 'media', selected: true} media
                %option alta
              - else
                %option baixa
                %option media
                %option{value: 'high', selected: true} alta
        .header-show-button
          = link_to 'Editar', edit_note_path(@note), class: 'btn btn-info btn-sm'
          = link_to 'Excluir', note_path(@note), method: :delete, data: { confirm: 'Tem certeza?'}, class: 'btn btn-danger btn-sm'

      .body-show
        #{ @note.content }

    .footer-show.text-muted
      talentNotes &copy; 2021